.banner {
  width: 100%;
  height: 720px;
  background: url("https://github.com/hsC0de/copyweb1/blob/62486f208bec7bbac52bd698db9e8558a506afa1/img/main_img.jpg")
    center no-repeat;
  background-size: cover;
}

.banner-contents {
  color: white;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 280px;
  z-index: 0;
}

.banner-contents h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.banner-contents p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.banner-contents a {
  background-color: #126fcc;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
